﻿<%@ Page Title="Result" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    Inherits="Success" CodeBehind="Success.aspx.cs" ValidateRequest="false" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <br />
    <br />
    <p>
        <asp:Label ID="Label1" runat="server" Text="Label" CssClass="noerror" Font-Size="Large"></asp:Label>
    </p>
</asp:Content>