﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CitationControl.ascx.cs" Inherits="NaturalProductsWebsite.Controls.CitationControl" %>
<div class="width60">
Conway,K.R. and Boddy,C.N. (2013) ClusterMine360: A Database of Microbial PKS/NRPS Biosynthesis. <i>Nucleic Acids Res.</i>, 41, D402–407, <a href="http://nar.oxfordjournals.org/content/41/D1/D402.long" target="_blank">doi:10.1093/nar/gks993</a><br /><br /></div>