﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="LastModifiedControl.ascx.cs"
    Inherits="NaturalProductsWebsite.Controls.LastModifiedControl" %>
<asp:Label ID="LastModifiedLabel" runat="server" CssClass="lastModified"></asp:Label>