﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PharmActionsControl.ascx.cs" Inherits="NaturalProductsWebsite.Controls.PharmActionsControl" %>
<asp:TreeView ID="TreeView1" runat="server">

</asp:TreeView>
