﻿/* DEFAULTS
----------------------------------------------------------*/

body
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #3A3A3A;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

.link, .link:visited
{
    color: #034af3;
    text-decoration: none;
}

.link:hover
{
    color: #3399FF;
    text-decoration: none;
}

.link:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

.highlight
{
    background-color: #FFFF99;
}

/* HEADINGS
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-variant: small-caps;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.5em;
    padding-top: 5px;
}

h4
{
    font-size: 1.1em;
    font-weight: bold;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}

/* PRIMARY LAYOUT ELEMENTS
----------------------------------------------------------*/
.browselist label {
    color: #666666;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
     font-size: 1.5em;
     padding-left: 5px;
}
.updateImage
{
    display: block;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    top: 25px;
    left: 400px;
}

.gridview
{
    margin: 10px;
}

.browse
{
    padding: 1px;
    display: block;
    clear: both;
}

.inner
{
    padding: 1px;
    margin-left: 20px;
}

.width20
{
    width: 20%;
}
.width40 {
	width: 40%;
}

.width60 {
	width: 60%;
}

.width80
{
    width: 80%;
}
.toppadding5
{
    padding-top: 5px;
}
.toppadding10
{
    padding-top: 10px;
}
.fullheight
{
    height: 100%;
}

.floatright
{
    float: right;
}

.floatleft
{
    float: left;
}

.floatleftsmall
{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    float: left;
    width: 20%;
}

.floatlefthalf
{
    float: left;
    width: 40%;
}

.floatleftpadded
{
    float: left;
    width: 42%;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

div.floatleftinner
{
    padding: 2.5px;
    float: left;
    width: 10%;
    position: relative;
    left: 30px;
}
.inlineblock {
	display: inline-block;
}
.indent
{
    left: 30px;
    position: relative;
}

.indentsmall
{
    left: 10px;
    position: relative;
}

.absoluteindent
{
    left: 50px;
    position: absolute;
}

.page
{
    width: 95%;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.maxwidth {
	max-width: 800px;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    color: #F8F9FC;
    font-family: Verdana;
    text-align: left;
    line-height: normal;
    padding-top: 5px;
    font-weight: bold;
    font-size: small;
}

.modalMain
{
    padding: 0px 12px;
    margin: 4px 8px 8px 8px;
}

.modalBackground
{
    background-color: #C0C0C0;
    overflow: auto;
}

.modalWindow
{
    border-style: solid;
    background: #FFFFFF;
    padding: 5px 10px 10px 10px;
    text-align: center;
    width: 800px;
    margin-bottom: 150px;
    margin-top: 150px;
    overflow: auto;
}

.cancelButton
{
    padding-left: 20px;
}

.leftImageColumn
{
    padding: 1px;
    float: left;
    width: 350px;
}

.rightImageColumn
{
    color: #000000;
    float: left;
    width: 250px;
}

ul.definitions
{
    list-style-type: none;
    list-style-position: outside;
   margin-left: -40px;
}

ul.definitions li
{
    margin-top:15px;
    text-align: left;
}



/* TAB MENU
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color: #3a4f63;
    width: 100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    float: left;
    padding: 0px;
    width: auto;
}

div.menu ul li
{
    position: relative;
    float: left;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

#nav ul {
	background: #ffffff;
	background:rgba(255,255,255,0);
	list-style: none;
	position: absolute;
	left: -9999px;
}

#nav ul li
{
    padding-top: 1px;
    float: none;
}

#nav ul li a, #nav ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

#nav ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}


#nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
	z-index: 50;
}

#nav li:hover ul li {
	background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;

}

#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	 background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;

}

#nav li a.menuhover
{
   background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;

}


/* FORM ELEMENTS
----------------------------------------------------------*/
.navigationButton
{
    margin: 0px 0px 5px 5px;
    float: left;
    background-color: White;
    border-color: #507cd1;
    border-style: solid;
    border-width: 1px;
    color: #284e98;
    font-family: Verdana;
}

.finishButton
{
    margin-right: auto;
    margin-left: auto;
    float: none;
}

.addFieldSet
{
    margin: 10px;
    width: auto;
    float: left;
}

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
    width: 400px;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

.bpEntry
{
    width: 100px;
    border: 1px solid #ccc;
}

.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

.clusterWizardInput
{
    width: 250px;
}

input.passwordEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

label.field
{
    float: left;
    width: 150px;
}

.error
{
    color: #CC0000;
    font-weight: bold;
    width: 100%;
    left: -5px;
    text-indent: 0px;
    font-size: large;
}

.noerror
{
    color: #008000;
    font-weight: bold;
    width: 100%;
    left: -5px;
    text-indent: 0px;
    font-size: medium;
}

.field
{
}

.imagecenter
{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.border
{
    border: thin solid #000000;
    padding: 5px;
}

.cffinishlistitems
{
    font-size: medium;
    text-align: left;
    padding-bottom: 5px;
    display: block;
}

.navbuttons
{
    position: relative;
    right: 0px;
    float: right;
}
/* MISC
----------------------------------------------------------*/

.chemspiderdiv
{
    border-style: solid;
    border-color: #C0C0C0;
}

.labelPanel
{
    padding-top: 5px;
    padding-right: 5px;
    text-align: right;
}

.dataPanel
{
    padding-top: 5px;
    text-align: left;
}

.clear
{
    clear: both;
}

.overflowvisible
{
    overflow: visible;
}

.autooverflow
{
    overflow: auto;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.italics
{
    font-style: italic;
}
.submitButton
{
    margin: 2px;
    text-align: center;
}

.pseudoordered
{
    list-style-type: none;
    text-indent: -12px;
}
.required
{
    color: #CC0000;
}
.toggle
{
    position: relative;
    padding: 1px 1px 1px 1px;
    display: inline;
    float: left;
    left: 0px;
}

.resize
{
    width: 16px;
    height: 16px;
    overflow: hidden;
    cursor: se-resize;
}

.lineage
{
    position: relative;
    margin-left: 18px;
    text-align: left;
    overflow: visible;
}

.divtablecell
{
    width: 250px;
    float: left;
    display: table-cell;
}

.divtablerow
{
    clear: both;
    display: table-row;
}

.synonymWrapper
{
    width: 400px;
}

.userPMIDWrapper
{
}

.right
{
    position: relative;
    right: 0px;
}

.alignleft
{
    text-align: left;
}

.alignright
{
    text-align: right;
}

.aligncenter
{
    text-align: center;
}

.valignmiddle
{
    vertical-align: middle;
}

.lastModified
{
    font-style: italic;
}

.pad
{
    padding: 5px;
}

.hidden
{
    visibility: hidden;
}
.dottedborder
{
    border: thin dashed #C0C0C0;
}

.borderbottom
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
}

.borderleft
{
    border-left-color: #000000;
    border-left-style: solid;
    border-left-width: 1px;
}

.borderright
{
    border-right-color: #000000;
    border-right-style: solid;
    border-right-width: 1px;
}

.bordertop
{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}

.tablepadding td
{
    padding: 2px;
    margin: 0px;
}

.black
{
    color: #000000;
}

.highlight
{
    background-color: #FFFF00;
    
}

.smallimages {
	width: 150px;
}

.bordercollapse {
	border-collapse: separate;
	
}

.cfimageholder
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.cfimageholder li
{
    border-style: dotted dotted none dotted;
    border-width: thin;
    padding: 0px;
    margin: 0px;
}

.cfimageholder li:last-child
{
    border-width: thin;
    border-bottom-style: dotted;
}

.dottedborder {
	border-style: dotted dotted dotted dotted;
    border-width: thin;
}